* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 110px;
    position: absolute;
    top: 0;
    background-color: #026670;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.linkovi ul li {
    display: inline-block;
    margin-left: 50px;
}
.linkovi ul li:nth-of-type(3) {
    margin-left: 100px;
}
.linkovi ul li:nth-of-type(4) {
    margin-left: 10px;
    border-left: 1px solid #fff;
    padding-left: 10px;
}
.linkovi ul li a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    border-bottom: solid 2px rgba(255, 255, 255, 0);
    padding-bottom: 5px;
}
.linkovi ul li a:hover {
    border-bottom: solid 2px rgba(255, 255, 255, 1);
}
.hero {
    width: 100%;
    height: 1080px;
    background-image: url('../img/bg\ 1.png');
    background-position: center;
    background-size: cover;
}
.hero-text {
    width: 585px;
    position: absolute;
    top: 250px;
    color: #026670;
}
.hero-text h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 25px;
}
.hero-text p {
    font-size: 20px;
}
.content {
    max-width: 1500px;
    margin: -90px auto 0 auto;
    height: 2700px;
    background-color: rgba(252, 226, 131, 0.8);
    z-index: 99999;
}

.first {
    padding: 150px 50px;
}
.first .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.row-text {
    width: 380px;
    margin: 0 35px;
}
.row-text h2 {
    font-size: 36px;
    font-weight: 600;
    color: #026670;
    margin-bottom: 50px;
    text-align: center;
}
.row-text p {
    font-size: 18px;
    color: #026670;
    text-align: justify;
}
.row img {
    border: 8px solid #026670;
}
.quote {
    width: 625px;
    margin-bottom: 80px;
    float: left;
}
.quote:nth-of-type(2) {
    float: right;
}
.quote p {
    color: #026670;
    font-size: 24px;
    font-style: italic;
    position: relative;
}
.quote p:before {
    display: block;
    padding-left: 10px;
    content: "\201E";
    font-size: 90px;
    position: absolute;
    left: -50px;
    top: -20px;
    color: #026670;
}
.quote p:after {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 90px;
    position: absolute;
    right: -20px;
    top: -40px;
    color: #026670;
}
.quote span {
    float: right;
    font-size: 18px;
    color: #026670;
    margin-top: 15px;
}
.second:after {
    content:'';
    display: block;
    clear: both;
}
.third {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.card {
    width: 478px;
    background-color: #026670;
    padding: 8px;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card p {
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin: 40px 0;
}
.card a {
    color :#026670;
    background-color: #fff;
    padding: 10px 30px;
    font-size: 24px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
    border: solid 3px #fff;
}
.card a:hover {
    color: #fff;
    background-color: #026670;
}
.villan {
    background-image: url('../img/pexels-photo-373076\ 1.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1500px;
    position: absolute;
    bottom: -100px;
    z-index: -10000;
}
footer {
    height: 155px;
    width: 100%;
    position: absolute;
    bottom: -150;
    background-color: #026670;
    text-align: center;
    padding: 25px;
}
footer p {
    color: #fff;
}

.usluge-hero:before {
    clear:both;
    content:'';
    display: block;
}
.usluge-hero {
    width: 100%;
    height: 1080px;
    border-top: 110px solid #fff;
    background-image: url('../img/Paket_uslugaIspravljeno\ 1.png');
    background-position: center;
    background-size: cover;
}
.usluge {
    height: 850px;
    padding: 130px 0;
    display: flex;
    justify-content: space-between;
}
.usluge h1 {
    font-size: 44px;
    color: #026670;
}
.usluge p {
    font-size: 18px;
    font-style: italic;
    margin: 30px 0;
    color: #026670;
}
.usluge p span {
    font-weight: 600;
    font-style: normal;
}
form h2 {
    font-size: 36px;
    text-align: center;
    color: #026670;
}
form {
    width: 540px;
    height: 475px;
    border-radius: 20px;
    border: 2px solid #026670;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 50px;
}
input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    border: 2px solid #026670;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
textarea {
    border: 2px solid #026670;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    font-size: 18px;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
.punoime {
    display: flex;
    justify-content: space-between;
}
.punoime input {
    width: 48%;
}
input[type=submit] {
    color: #026670;
    width: 150px;
    background-color: #fff;
    padding-top: 7px;
    transition: 0.3s;
}
input[type=submit]:hover {
    color: #fff;
    background-color: #026670;
}